.each-tab-heading {
  margin: 10px;
}
.button {
  background-color: transparent;

  border: none;
  margin: 5px;
  color: white;
  font-weight: 900;
  font-size: 20px;
}
.thumbnail-button {
  background-color: transparent;
  border: none;
}
